@import "../../tokens/index.scss";

.button {
  border: 1px solid #d5b9a7;
  background: none;
  width: 100%;
  cursor: pointer;
  font-family: $font-family-novecento;
  padding: 20px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 11px;
  text-align: center;
  letter-spacing: 1.36364px;
  color: #d5b9a7;
  transition: all ease-in 0.3s;
  min-width: 148px;

  &:hover {
    background: #36563d;
    color: white;
    border: 1px solid white;
  }

  @include for-size(tablet-portrait-up) {
    font-size: 14px;
    padding: 12px;
  }
}
