.button {
  border: 1px solid white;
  background: none;
  width: 100%;
  cursor: pointer;
  font-family: $font-family-novecento;
//   @include for-size(tablet-portrait-up) {
//     border: 1px solid #d5b9a7;
//     min-width: 148px;
//   }
}

.menu-button {
  padding: 9px;
  font-family: $font-family-novecento;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 1.36364px;
  color: #ffffff;

//   @include for-size(tablet-portrait-up) {
//     color: #d5b9a7;
//     padding: 4px;
//   }
}
