@import "../../tokens/index.scss";


.pakages-container{
    height: 100%;
    padding: 80px 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 32px;

    @include for-size(tablet-portrait-up) {
       flex-direction: row;
       gap: 42px;
      }
}