@import "../../tokens/index.scss";

header {
  align-items: center;
  background: white;
  display: flex;
  height: 5rem;
  justify-content: space-between;
  padding: 24px;
  position: fixed;
  transition: all ease-in-out 0.5s;
  width: 100vw;

  @include for-size(tablet-portrait-up) {
    position: sticky;
  }

  img {
    cursor: pointer;
  }

  .header-logo {
    height: 50px;
  }

  .header-hambuerger-menu {
    @include for-size(tablet-portrait-up) {
      display: none;
    }
  }
  .menu-container {
    align-items: center;
    background: #36563d;
    display: flex;
    flex-direction: column;
    gap: 24px;
    height: 100vh;
    justify-content: flex-start;
    left: 0;
    padding: 40px 24px;
    position: fixed;
    top: 80px;
    width: 100vw;
    z-index: 10;
  }

  .menu-option {
    color: $white;
    font-family: $font-family-novecento;
    font-size: $font-size-20;
    font-style: normal;
    font-weight: $font-weight-700;
    letter-spacing: 1.36364px;
    line-height: $line-height-24;
    text-align: center;
    text-decoration: none;
  }

  .menu-pattern {
    position: fixed;
    bottom: 0;
  }

  .nav-container {
    display: none;
    @include for-size(tablet-portrait-up) {
      align-items: center;
      display: flex;
      gap: 24px;
      justify-content: center;
    }

    .navItem {
      color: $primary-color;
      cursor: pointer;
      font-family: $font-family-novecento;
      font-size: $font-size-14;
      font-style: normal;
      font-weight: $font-weight-400;
      line-height: $line-height-15;
      text-decoration: none;
      &:hover {
        color: $secondary-color;
      }
    }
  }
}
