@font-face {
  font-family: "aura-demiBold"; /*Can be any text*/
  src: local("Synthview"),
    url("../fonts/Synthview-DemiBold.otf") format("truetype");
}

@font-face {
  font-family: "aura-book"; /*Can be any text*/
  src: local("Synthview"), url("../fonts/Synthview-Book.otf") format("truetype");
}
@font-face {
  font-family: "novecento"; /*Can be any text*/
  src: local("Novecento"), url("../fonts/Novecento-normal.otf") format("truetype");
}

$font-family-demi: "aura-demiBold";
$font-family-book: "aura-book";
$font-family-novecento: "novecento";


$font-size-48: 40px;
$font-size-40: 40px;
$font-size-32: 32px;
$font-size-20: 20px;
$font-size-18: 18px;
$font-size-16: 16px;
$font-size-15: 15px;
$font-size-14: 14px;


$font-weight-800: 800;
$font-weight-700: 700;
$font-weight-400: 400;


$line-height-48: 48px;
$line-height-40: 40px;
$line-height-32: 32px;
$line-height-26: 26px;
$line-height-24: 24px;
$line-height-15: 15px;
$line-height-11: 11px;

$primary-color: #36563d;
$primary-color-80: rgba(54, 86, 61,80%);
$primary-color-60: rgba(54, 86, 61,60%);
$primary-color-40: rgba(54, 86, 61,40%);
$primary-color-20: rgba(54, 86, 61,20%);
$secondary-color: #d5b9a7;
$white: white;



@mixin for-size($size) {
  @if $size == phone-only {
    @media (max-width: 599px) { @content; }
  } @else if $size == tablet-portrait-up {
    @media (min-width: 600px) { @content; }
  } @else if $size == tablet-landscape-up {
    @media (min-width: 900px) { @content; }
  } @else if $size == desktop-up {
    @media (min-width: 1200px) { @content; }
  } @else if $size == big-desktop-up {
    @media (min-width: 1800px) { @content; }
  }
}